<!DOCTYPE html>

<!--suppress HtmlUnknownTarget -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="scripts">
    <script src="vendor/jquery/jquery-1.11.1.min.js"></script>

    <!-- HighCharts Plugin -->
    <script src="vendor/plugins/highcharts/highcharts.js"></script>

    <!-- Theme Javascript -->
    <script src="assets/js/utility/utility.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/custom.js"></script>
</div>

</body>

</html>