<!DOCTYPE HTML>

<!--suppress HtmlUnknownTarget -->
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="shared/head :: head ('Monitors')">
</head>

<body>

<header th:replace="shared/header :: header"></header>

<aside th:replace="shared/sidebar_left :: sidebar_left"></aside>

<section id="content_wrapper">
    <header th:replace="shared/topbar :: topbar"></header>

    <!-- Begin: Content -->
    <section id="content" class="table-layout animated fadeIn">

        <!-- begin: .tray-center -->
        <div class="tray tray-center">

            <!-- recent activity table -->
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title"> Monitors</span>
                </div>
                <div class="panel-body pn">
                    <div class="table-responsive">
                        <table class="table admin-form theme-warning tc-checkbox-1 fs13">
                            <thead>
                            <tr class="bg-light">
                                <th class="">Name</th>
                                <th class="">URL</th>
                                <th class="">Status</th>
                                <th class="">State</th>
                                <th class="">Last Updated</th>
                                <th class="">Check Interval</th>
                                <th class="">Uptime</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="monitor : ${monitors}">
                                <td th:text="${monitor.name}">Monitor Name</td>
                                <td th:text="${monitor.url}">Monitor URL</td>
                                <td th:text="${monitor.status}">Monitor Status</td>
                                <td th:text="${monitor.state}">Monitor State</td>
                                <td th:text="${monitor.updated}">Monitor Last Updated</td>
                                <td th:text="${monitor.interval}">Monitor Check Interval</td>
                                <td th:text="${monitor.name}">Monitor Uptime</td>
                            </tr>
                            <tr>
                                <td class="">Google Monitor</td>
                                <td class="">http://www.google.com</td>
                                <td class="">Up</td>
                                <td class="">Waiting</td>
                                <td class="">27/10/2015 17:23</td>
                                <td class="">5 minutes</td>
                                <td class="">100%</td>
                            </tr>
                            <tr>
                                <td class="">Facebook Monitor</td>
                                <td class="">http://www.facebook.com</td>
                                <td class="">Up</td>
                                <td class="">Waiting</td>
                                <td class="">26/08/2015 09:23</td>
                                <td class="">1 minute</td>
                                <td class="">92%</td>
                            </tr>
                            <tr>
                                <td class="">Yahoo Monitor</td>
                                <td class="">http://www.yahoo.com</td>
                                <td class="">Down</td>
                                <td class="">Waiting</td>
                                <td class="">27/10/2015 16:23</td>
                                <td class="">3 minutes</td>
                                <td class="">47%</td>
                            </tr>
                            <tr>
                                <td class="">Amazon Monitor</td>
                                <td class="">http://www.amazon.com</td>
                                <td class="">Up</td>
                                <td class="">Waiting</td>
                                <td class="">27/10/2015 17:25</td>
                                <td class="">10 minutes</td>
                                <td class="">100%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- end: .tray-center -->

    </section>
    <!-- End: Content -->

    <footer th:replace="shared/footer :: footer"></footer>
</section>

<aside th:replace="shared/sidebar_right :: sidebar_right"></aside>

<script th:replace="shared/scripts :: scripts"></script>

</body>

</html>